<!DOCTYPE html>
<html>
  <head>
    <title>Welcome to POS System</title>
  </head>
  <body>
    <div>
      POS System:
      <a href="{{ url_for('index') }}">Home</a>
      <a href="{{ url_for('create_menu_item') }}">Create Menu Item</a>
      <a href="{{ url_for('create_order') }}">Create Order</a>
    </div>
    <hr />
    {% with messages = get_flashed_messages() %} {% if messages %}
    <ul>
      {% for message in messages %}
      <li>{{ message }}</li>
      {% endfor %}
    </ul>
    {% endif %} {% endwith %} {% block content %}{% endblock %}
  </body>
</html>
